<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

</head>
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel bg-warning">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Laravel</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">หน้าแรก</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">ติดต่อเรา</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<main class="card-form">
    <div class="cotainer">
        <div class="row justify-content-center my-4">

            <div class="col-md-8 m-lg-3">

                <img src="./images/1.jpg " style="width: 1900px;" class="img-fluid" alt="Responsive image">
            </div>

            <div class="col-md-8  ">
                <div class="card">
                    <div class="card-header  " style="height: 53px; background-color: #F5F5F5;">

                    </div>

                    <div class="card-body ">
                        
                            <div class="card " style=" border-width:15px ;border-color: #F5F5F5 ;">
                                <div class="card-body">
                                    <form action="" method="">
                                        <div class="form-group row justify-content-center">
                                            <h2>รับจำนอง-ขายฝากที่ดิน</h2>
                                        </div>
            
                                        <div class="form-group row">
                                            <h6> แหล่งรวมทางออกสำหรับลูกค้าที่ต้องการเงินหมุนเวียน
                                                ที่นี้เรามีทางออกให้คุณลูกค้าสามารถนำเงินหมุนธุรกิจของคุณต่อเนื่องได้
                                                เคสเล็ก เคสใหญ่เราช่วยคุณได้ทุกเคส</n>
                                            </h6>
                                            <h6>
                                                เพียงคุณโทรติดต่อ: 091-5553987, 092-5135371
                                            </h6>
                                        </div>
            
                                        <div class="form-group row justify-content-center">
                                            <div class="badge badge-primary text-wrap bg-warning"
                                                style="width: 600px; height: 450;">
                                                <h3 class="text-dark"> รับจำนอง-ขายฝากบ้าน ที่ดิน คอนโด ดอกเริ่มต้น 1%</h3>
                                                <h4 class="text-danger"> (ขึ้นอยู่กับทำเลและประเภทของหลักทรัพย์)</h4>
                                            </div>
                                        </div>
            
                                        <div class="form-group row">
                                            <h6 class=" text-danger font-weight-bold font-weight-normal">
                                                รับจำนอง รับขายฝาก รีไฟแนนซ์ บ้านและที่ดิน
                                                จากบริษัทโดยตรง รับฝาก รับจำนอง จำนำ คอนโด
                                                ที่ดินเปล่า ทาว์เฮาส์ บ้านจัดสรร
                                                อพาร์เม้นท์ รับขายฝากรถ <strong class="text-dark ">
                                                    อสังหาริมทรัพย์ทุกชนิด จํานําโฉนดที่ดิน รับไถ่ถอน บ้าน คอนโด ทาวเฮาส์ ตึกแถว
                                                    และที่ดิน
                                                    ลดต้น ลดดอก
                                                    ดอกเบี้ยต่ำสุดแล้ว<br> 1-2% ต่อเดือน บางที่ 3%
                                                </strong></h6>
                                        </div>
            
                                        <div class="form-group row">
                                            <h6>
                                                รับเงินสดทันทีหลังทำสัญญาเสร็จไว ( รับนายหน้าร่วมงาน )<br>
                                                อย่าอาย อย่าเกรงใจ ปรึกษาฟรีได้ตลอด<br>
                                                ให้กู้ยืมเงิน โดยแปลงอสังหาเป็นเงินทุน ซึ่งเจ้าทรัพย์ยังพัก
                                                หรือเก็บค่าเช่าได้ปกติเลย<br>
                                                รับรองในความปลอดภัย ถูกกฎหมาย ความซื่อสัตย์ ความยุติธรรม และความลับของลูกค้า<br>
                                            </h6>
                                        </div>
            
                                        <div class="form-group row">
                                            <img src="./images/2.jpg " style="width: 1900px;" class="img-fluid"
                                                alt="Responsive image">
                                        </div>
            
                                        <div class="form-group row">
                                            <h6>
                                                รับ ซื้อ-ขาย รับจำนอง/ขายฝาก รับจำนำ
                                                <br>
                                                ประเภทรายการ: รับซื้อ-ขาย/รับจำนอง/ขายฝาก/รับจำนำ/รับปรึกษาสินเชื่อทุกประเภท
                                                รับทุกเคส
                                                <br>
                                                <a> บ้าน,ที่ดินเปล่า,คอนโด,โรงแรม,รีสอร์ท,ทาว์นเฮ้าส์,ตึกแถว </a>
                                                <br>
                                                <a> ลดต้น ลดดอก ดอกเบี้ยต่ำสุด เริ่มต้นที่ 1%</a>
            
                                            </h6>
                                        </div>
            
                                        <div class="form-group row">
                                            <h6>
                                                ห้วงเงินสูงถึง 60% ของราคาซื้อขาย หรือ ราคาประเมิน
                                                ใช้เอกสารของกรมที่ดินทั้งสิ้น ทำถูกกฏหมาย
                                                อนุมัติไว้(หากไม่ติดภาระเดิม)
                                                <br>
                                                ไม่เช็คเครดิตยูโร ไม่เช็คสลิปเงินเดือน เอกสารไม่ยุ่งยาก
                                                <br>
                                                ในกรณีที่ทำ ขายฝาก/จำนอง อนุมัติไว ถ้าเข้าแบงค์รอผลนานหลายเดือน ให้ต่อสัญญาสูงสุด 10
                                                ปี
                                            </h6>
                                        </div>
            
                                        <div class="form-group row">
                                            <h4>
                                                เอกสารที่ใช้ในการทำจำนองที่ดิน และ ขายฝากที่ดิน
                                                <br>
                                                <strong class="text-truncate">
                                                    บุคคลธรรมดา
                                                </strong>
            
                                            </h4>
                                            <h6>
                                                โฉนดที่ดิน ตัวจริง (พร้อมสำเนา)
                                                <br>
                                                ทะเบียนบ้าน ตัวจริง (พร้อมสำเนา)
                                                <br>
                                                บัตรประชาชน พร้อมสำเนา
                                                <br>
                                                ใบเปลี่ยนชื่อตัว-ชื่อสกุล ตัวจริง (พร้อมสำเนา)
                                                <br>
                                                ทะเบียนสมรสหรือทะบียนหย่า
                                                <br>
                                                หนังสือยินยอมให้ทำนิติกรรมของคู่สมรส
                                                <br>
                                                มรณะบัตรคู่สมรส
                                                <br>
                                                ใบขออนุญาติปลูกสร้าง(กรณีที่ไม่ใช่โครงการบ้านจัดสรรแต่เป็นบ้านที่ปลูกสร้างเอง)
                                                <br>
                                                ใบปลอดค่าสาธารณูปโภค(ค่าส่วนกลาง-ค่าน้ำ-ค่าไฟ
                                                ในกรณีเป็นอาคารชุดหรือคอนโดมิเนียมเท่านั้น)
                                            </h6>
                                        </div>
            
            
                                        <div class="form-group row">
                                            <h4>
            
                                                <strong class="text-truncate">
                                                    นิติบุคคล ห้างร้าน
                                                </strong>
            
                                            </h4>
            
                                        </div>
            
            
                                        <div class="form-group row ">
                                            <h6>
                                                โฉนดที่ดิน ตัวจริง (พร้อมสำเนา)
                                                <br>
                                                บัตรประชาชน ของกรรมการผุ้มีอำนาจทำการแทนนิติบุคคล ตัวจริง (พร้อมสำเนา)
                                                <br>
                                                ทะเบียนบ้าน ของกรรมการผู้มีอำนาจทำการแทนนิติบุคคล ตัวจริง (พร้อมสำเนา)
                                                <br>
                                                หนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
                                                <br>
                                                หนังสือบริคณห์สนธิและวัตถุประสงค์
                                                <br>
                                                ข้อบังคับของนิติบุคคล
                                                <br>
                                                บัญชีรายชื่อผู้ถือหุ้นของนิติบุคคลไทยที่ถือหุ้นในบริษัทจำกัด หรือบริษัทมหาชน จำกัด
                                                <br>
                                                แบบรับรองรายการจดทะเบียนจัดตั้งห้างหุ้นส่วน--กรณีห้างหุ้นส่วนจำกัดหรือ
                                                ห้างหุ้นส่วนสามัญที่จดทะเบียนแล้ว
                                                <br>
                                                หนังสือรายงานการประชุมนิติบุคคล
                                                <br>
                                                ใบขออนุญาติปลูกสร้าง ( กรณีไม่ใช่โครงการบ้านจัดสรรแต่เป็นบ้านที่ปลูกสร้างเอง )
                                            </h6>
                                        </div>
            
            
                                        <div class="form-group row justify-content-center">
                                            <h2>รับซื้อ-ขายรถยนต์ ทุกประเภท ราคายุติธรรม</h2>
                                        </div>
            
                                        <div class="form-group row">
                                            <img src="./images/3.jpg " style="width: 1900px;" class="img-fluid"
                                                alt="Responsive image">
                                        </div>
                                </div>
                             
                        </div>


                    </div>


                    </form>
                </div>
            </div>
            <br>



        </div>
    </div>
    </div>

</main>







</body>


</html>